<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="myImg">
      <img src="/images/j.jpg" alt="discussing staff rises" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
  </body>
</html>
